<div class="wrap-input100 m-b-23">
<span class="label-input100"><span class="login100-form-title p-b-49">
  Detalle
</span>
</span>
</div>

<div class="wrap-input100 m-b-23">
  <span class="label-input100">Correo</span>
  <input class="input100"
         type="email"
         placeholder="{{user.username}}"
         formControlName="email" readonly
  >
  <span class="focus-input100"></span>
</div>

<div class="wrap-input100 m-b-23">
  <span class="label-input100">Rol</span>
  <input class="input100"
         type="text"
         placeholder="{{user.rol}}"
         formControlName="rol" readonly
  >
  <span class="focus-input100"></span>
</div>

<div class="wrap-input100 m-b-23">
  <span class="label-input100">Fecha de creacion</span>
  <input class="input100"
         type="text"
         placeholder="{{user.creationDate}}"
         formControlName="creationDate" readonly
  >
  <span class="focus-input100"></span>
</div>

<div class="wrap-input100 m-b-23">
  <span class="label-input100">Detalles</span>
  <input class="input100"
         type="text"
         placeholder="{{user.details}}"
         formControlName="details" readonly
  >
  <span class="focus-input100"></span>
</div>

<div class="wrap-input100 m-b-23">
  <a routerLink="/home/users">Regresar</a>
</div>
